.main {
    background-color: black;
    color: white;
    min-height: 100vh;
}

.tabMain {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.tab {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    top: 5px;
}

.tab .appLogo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.tab .appLogo h1 {
    font-size: 20px;
    color: #cfdc93;
}

.tab .appLogo img {
    height: 30px;
    width: fit-content;
    object-fit: contain;
}

.tab .tabOptions {
    display: flex;
    gap: 10px;
    font-size: 15px;
    backdrop-filter: blur(10px);
    padding: 10px 15px;
    border-radius: 10px;
}

.tab .tabOptions .option {
    transition: all 0.3s;
}

.tab .tabOptions .option:hover {
    opacity: 0.8;
}


.getStartedBtn {
    border-radius: 30px;
    color: black;
    font-weight: 400;
    font-size: 17px;
    padding: 20px 15px;
    background: rgb(184, 218, 51);
    background: linear-gradient(180deg, rgba(184, 218, 51, 1) 0%, rgba(115, 144, 4, 1) 99%);
}

.heroSection {
    position: relative;
    height: 100svh;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.heroSection .getStartedBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.heroImg {
    position: absolute;
    /* left: 50%; */

    top: 10%;
    transform: translateX(-50%);
    height: 90vh;
    object-fit: contain;
    animation: heroImgAnimation 2s ease-in-out;
}


@keyframes heroImgAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    10% {
        transform: scale(1);
        opacity: 1;
    }

    80% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}


.heroSection .heroHeader {
    position: absolute;
    font-size: 70px;
    text-align: center;
    width: 100%;
    top: 5%;
}

.heroHeader span {
    color: #a5cd04;
    filter: drop-shadow(0px 0px 7px #a5cd04)
}

.heroStats {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    width: 50px;
    padding: 5px 10px;
    background: rgb(104, 107, 88);
    background: linear-gradient(180deg, rgba(104, 107, 88, 1) 0%, rgba(44, 45, 40, 1) 99%);


    filter: drop-shadow(0px 0px 10px rgba(104, 107, 88, 1));
}

.heroStat1 {
    top: 30%;
    left: 35%;
    transform: scale(1.2) rotate(-30deg);
    z-index: -1;
}

.heroStat2 {
    top: 30%;
    right: 35%;
    transform: scale(1.2) rotate(30deg);
    z-index: -1;
}

.heroStat3 {
    top: 60%;
    left: 35%;
    transform: scale(1.2) rotate(30deg);
}

.heroStat4 {
    top: 60%;
    right: 35%;
    transform: scale(1.2) rotate(-30deg);
}

.secitonHeading {
    font-weight: 400;
    text-align: center;
    margin: 20px 0px;
}


.featuresSection {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}
.featuresHolder{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 20px;
    width: 70vw;
    margin: 30px auto;

}

.featureCard {
    width: 300px;
    height: 300px;
    padding: 5px 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background: rgb(212, 212, 208);
    background: linear-gradient(164deg, rgba(212, 212, 208, 1) 0%, rgba(71, 82, 47, 1) 99%);
}

.featureCard h1 {
    font-weight: 400;
    font-size: 25px;
    color: black;
    text-align: center;
}

.featureCard img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    flex: 3;
    border-radius: 10px;
}



.aboutSection {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionPara {
    text-align: center;
    width: 50vw;
    margin: auto;
}

.profileCardHolder {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 40px 0px;
    flex-wrap: wrap;
}

.profileCard {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 210px;
    align-items: center;
    background-color: #a5cd04;
    overflow: hidden;
    padding: 7px;
    border-radius: 15px;
    background: rgb(201, 249, 11);
    background: linear-gradient(180deg, rgba(201, 249, 11, 1) 0%, rgba(169, 210, 8, 1) 38%, rgba(100, 124, 10, 1) 99%);
}

.profileCard img {
    width: 100%;
    height: 100%;
    flex: 2;
    object-fit: cover;
    border-radius: 10px;
}

.profileCard h1 {
    flex: 1;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}

.profileCard p {
    color: black;
    flex: 1;
}














@media (max-width:500px) {
    .main {
        overflow: hidden;
    }

    .tab {
        padding: 5px 10px;
    }

    .tab .appLogo h1 {
        display: none;
    }



    .tab .tabOptions {
        font-size: 12px;
        gap: 5px;
    }


    .tab .getStartedBtn {
        font-size: 10px;
        padding: 0px 10px;
    }

    .heroSection .heroHeader {
        font-size: 30px;
        top: 10%;
    }

    .heroImg {
        top: 17%;
        height: 70vh;
    }

    .heroStat1 {
        left: 10%;
    }

    .heroStat2 {
        right: 10%;
    }

    .heroStat3 {
        top: 60%;
        left: 10%;
    }

    .heroStat4 {
        right: 10%;
    }

    .sectionPara {
        width: 100%;
    }
    .featureCard h1{
        font-size: 20px;
    }
    .featureCard{
        width: 150px;
        height: 180px;
        margin: auto;
        padding: 5px;
        border-radius: 10px;
        
    }
    .featuresHolder{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 30px 10px;
        width: unset;
    }
}